<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nas Alias</title>
  <link rel="stylesheet" href="style/index.css">
  <link rel="stylesheet" href="style/iview.css">
  <script type="text/javascript" src="lib/vue.js"></script>
  <script type="text/javascript" src="lib/iview.min.js"></script>
  <script type="text/javascript" src="lib/nebPay.js"></script>
  <script type="text/javascript" src="lib/moment.js"></script>

</head>
<body>
  <div id="app">
    <i-header>
      <h1 class="title">Nas 别名</h1>
    </i-header>
    <i-content class="content">
      <Card>
        <div slot="title">
          <p>用途：</p>
          <p>
            　　众所周知，NAS钱包地址是由数字和字母组成的一串35位的字符串，平时难以记忆。为了让大家方便记忆和转账，开发了这个NAS别名app。每个别名都对应一个唯一的NAS钱包地址，但一个钱包地址可以对应多个别名。转账时可以通过别名查询对应的地址并快速转账。
          </p>
          <p>使用方法：</p>
          <p>
            　　如果您是第一次使用，可以在下边的搜索框中填入便于记忆的别名，点击搜索，查看该别名是否已被注册。
            　　若未被注册，则可以输入一个钱包地址，注册别名。
            　　若已被注册，则能够方便的看出该别名对应的NAS钱包地址，该别名的作者以及该别名的注册时间。并可以一键转账到该地址。
          </p>
        </div>
        
        <i-form :model="formData" :label-width="80">
          <Row>
            <i-col span="6" offset="6">
              <form-item label="别名">
                <i-input v-model="formData.alias" @keyup.enter.native="searchAlias" placeholder="请输入别名..."></i-input>
              </form-item>
            </i-col>
            <i-col span="6">
              <form-item>
                <i-button type="primary" @click="searchAlias" :loading="searching">搜索</i-button>
              </form-item>
            </i-col>
          </Row>

          <Row>
            <i-col span="6" offset="6">
              <form-item label="">
                <h4 v-show="!aliasExisted">别名尚未注册。</h4>
                <h4 v-show="aliasExisted">该别名已注册。</h4>
              </form-item>
            </i-col>
            <i-col span="6">
              <form-item>
                <i-button type="primary" @click="registerAliasFunc">注册新别名</i-button>
              </form-item>
            </i-col>
          </Row>

          <Layout v-show="aliasExisted">
            <Row>
            <i-col span="6" offset="6">
              <form-item label="钱包地址">
                <p>{{formData.address}}</p>
              </form-item>
            </i-col>
            <i-col span="6">
              <form-item>
                <i-button type="primary" @click="sendCoin">向他发送NAS</i-button>
              </form-item>
            </i-col>
          </Row>

          <Row>
            <i-col span="12" offset="6">
              <form-item label="作者">
                <Tag checkable color="blue">{{formData.author}}</Tag>
              </form-item>
            </i-col>
          </Row>

          <Row>
            <i-col span="12" offset="6">
              <form-item label="生成时间">
                <Tag checkable color="yellow">{{formData.created}}</Tag>
              </form-item>
            </i-col>
          </Row>
          </Layout>

          
        </i-form>
      </Card>
      <Modal
        v-model="registerAlias"
        title="注册别名"
        @on-ok="submit">
        <i-form :model="newAlias" :label-width="80">
          <form-item label="别名">
            <i-input v-model="newAlias.alias" placeholder="请输入别名..."></i-input>
          </form-item>
          <form-item label="钱包地址">
            <i-input v-model="newAlias.address" placeholder="请输入钱包地址..."></i-input>
          </form-item>
          <!-- <form-item label="备注">
            <i-input v-model="newAlias.motto" placeholder="请输入备注..."></i-input>
          </form-item> -->
        </i-form>
      </Modal>

      <Modal
        v-model="webExtensionWalletShow"
        title="Dependancy needed!"
        :mask-closable="false"
        :closable="false">
        <p>Please install <a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a> to use NAS ALIAS</p>
        <p slot="footer"><a @click="reload">Refresh</a>.</p>
      </Modal>
    </i-content>
    <i-footer>
      <h4>
        <span>
          <Avatar src="img/creabine.jpg" shape="square" size="large" />
        </span>
        <span>Author: Creabien</span>
        <span>Created in 2018/5/7</span>
      </h4>
    </i-footer>
  </div>
  <!-- <script type="text/javascript" src="js/index.js"></script> -->
  <script type="text/javascript">
  var NebPay = require("nebpay");
  var nebPay = new NebPay();

  let vm = new Vue({
    el: '#app',
    data: {
      txhash: '35457c8b0193e4124ce0ec114405b6aede98e4a4b61095facc0c11e178bfe6a3',
      dappAddress: "n1nHApTFh6wNvFL6poDRtmfJyXYeDWUNBVQ",
      aliasExisted: false,
      webExtensionWalletShow: false,
      searching: false,
      registerAlias: false,
      formData: {
        alias: "",
        address: "",
        author: "",
        created: ""
      },
      newAlias: {
        alias: "",
        address: "",
      }
    },
    computed: {
      createdTime () {
        if (this.formData.created === "") {
          return ""
        }
        return moment(new Date(+this.formData.created)).format('YYYY-MM-DD hh:mm:ss')
      }
    },
    methods: {
      submit() {
        if (!this.newAlias.alias || !this.newAlias.address) {
          this.$Message.error({
            content: '请填写完整！'
          })
          this.$nextTick(() =>{
            this.registerAlias = true;
          })
          return
        }
        if (this.newAlias.address.substr(0,2) !== 'n1' || this.newAlias.address.length !== 35) {
          this.$Message.error({
            content: '请填写合法的nas钱包地址！'
          })
          this.$nextTick(() =>{
            this.registerAlias = true;
          })
          return
        }
        var to = this.dappAddress;
        var value = "0";
        var callFunction = "save";
        var callArgs = [this.newAlias.alias, this.newAlias.address];
        nebPay.call(to, value, callFunction, JSON.stringify(callArgs), {    //使用nebpay的call接口去调用合约,
            listener: this.submitCb
        });
      },
      submitCb(resp) {
        console.log('*******************************');
        console.log(resp);
        console.log('*******************************');
        this.registerAlias = false;
        this.$Modal.success({
          title: '注册成功',
          content: '新注册的别名需要进行区块确认，这可能会花费几十秒钟的时间。</br>你可以在<a href="https://wallet.nasscan.io/check.html" target="_blank">https://wallet.nasscan.io/check.html</a>中</br>使用<code>'+resp.txhash+'</code>查询进度！',
            width: 600
        })
      },
      sendCoin(){
        var to = this.formData.address;
        var value = "0";
        var options = {
          // callback: this.payCb
        };
        nebPay.pay(to, value, options)
      },
      registerAliasFunc(){
        this.registerAlias = true;
        if (!this.aliasExisted) {
          this.newAlias.alias = this.formData.alias;
        }
      },
      searchAlias() {
        if (!this.formData.alias) {
          this.$Message.error({
            content: '请填写要搜索的别名！'
          })
          return
        }
        var to = this.dappAddress;
        var value = "0";
        var callFunction = "get";
        var mapName = 'aliasMap'
        // var callArgs = "[\"" + mapName + "\",\"" + this.formData.alias + "\"]"
        var callArgs = JSON.stringify([mapName,this.formData.alias])
        this.searching = true;
        nebPay.simulateCall(to, value, callFunction, callArgs, {    //使用nebpay的simulateCall接口去执行get查询, 模拟执行.不发送交易,不上链
            listener: this.searchCb    //指定回调函数
        });
      },
      searchCb(resp) {
        this.searching = false;
        var result = resp.result;
        if (result === "null") {
          this.aliasNotExistedInfo();
          this.aliasExisted = false;
        } else {
          this.aliasExisted = true;
          var resultObj = JSON.parse(result);
          this.formData.alias = resultObj.alias;
          this.formData.address = resultObj.address;
          this.formData.author = resultObj.author;
          this.formData.created = this.timestampToTime(resultObj.created);
        }
      },
      aliasExistedInfo() {
        this.$Notice.info({
          top: 50,
          duration: 3,
          title: '搜索成功，该别名已存在！',
          desc: '成功获取别名对应的Nas钱包地址！'
        });
      },
      aliasNotExistedInfo() {
        this.$Notice.info({
          top: 50,
          duration: 3,
          title: '搜索完成，该别名未创建！',
          desc: '该别名可用，可以为本钱包地址绑定该别名。'
        });
      },
      addNewAlias() {

      },
      reload() {
        window.location.reload()
      },
      checkWakket() {
        if (typeof(webExtensionWallet) === "undefined") {
          this.webExtensionWalletShow = true
        }
      },
      timestampToTime(timestamp) {
        var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D+h+m+s;
      }
    },
    mounted() {
      this.checkWakket()
    },
    created() {
      console.log('aaa')
    }
  })

  </script>
</body>
</html>
